{{template "header.html" .}}
<div class="container">
    <div style=" margin: auto; " class="row">
        <div class="col"></div>
        <div class="col-md work-field text-center">
            <h1>👨🏻‍🚀</h1>
            <h2>Заблудились?</h2>
            <p>404 - страница <code>{{.Url}}</code> не найдена</p>
            <br>
            <div>
                <a class="btn btn-outline-light btn-lg" href="/">Спастись 🚀</a>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{{template "footer.html" .}}
