
</body>
<footer class="footer font-weight-light text-center  navbar-fixed-bottom"
        style="color: #fff;position: absolute;bottom: 0;width: 100%;height: 30px;">
    <div style="letter-spacing: 0.2rem;font-size: 0.6rem;opacity: 0.75;margin-bottom: 0;text-transform: uppercase;">
        DESIGNED BY
        <a style="border-bottom: dotted 1px rgba(255, 255, 255, 0.5); text-decoration: none;color: inherit;"
           href="http://spaceshipdev.ru/"> SPACESHIP CREATIVE PERFORMANCE</a><br>
    </div>

</footer>
</html>